-var title='News';
include ../public/header.jade
.container
    .row
        -var nav='all';
        include ./public/side.jade
        .col-md-9
            .table-responsive
                table.table(style="table-layout:fixed;")
                    thead
                        tr
                            th(style="width:40px;") ID
                            th TITLE
                            th THUM
                            th SOURCE
                            th CLASSIFY
                            th VIEW
                    tbody
                        -for(var i=0;i<tableData.length;i++)
                            tr
                                td= tableData[i].NewsId||''
                                td= tableData[i].NewsTitle||''
                                td= tableData[i].NewsThum||''
                                td= tableData[i].NewsSource||''
                                td= tableData[i].NewsClassify||''
                                td= tableData[i].NewsView||''


                        //-
                            tr.active
                            tr.success
                            tr.warning
                            tr.danger